{% extends 'foundation.html' %}

{% block content %}
    <h1>{% block title %} Edit/Delete "{{ user['user_name'] }}" {% endblock %}</h1>
    <form method="post">
        <label for="user_name">User Name</label>
        <br>
        <input type="text" name="user_name"
               placeholder="User Name"
               value="{{ request.form['user_name'] or user['user_name'] }}"></input>
        <br>

        <label for="points">User Points</label>
        <br>
        <textarea name="points"
                  placeholder="User Points"
                  rows="15"
                  cols="60"
                  >{{ request.form['points'] or user['points'] }}</textarea>
        <br>
        <button type="submit">Submit</button>
    </form>

   <hr>
    <form action="{{ url_for('delete', id=user['id']) }}" method="POST">
        <input type="submit" value="Delete User"
                onclick="return confirm('Are you sure you want to delete this User?')">
    </form>
{% endblock %}
